:host {
  display: flex;
  box-sizing: border-box;
  font-family: sans-serif;
  background: transparent;
  font-size: 1em;
  font-weight: normal;
  color: inherit;
  transition: opacity 1s ease-in-out 200ms;
}

:host(.inline) {
  display: inline-flex;
}

:host(.fade-out) {
  opacity: 0;
  pointer-events: none;
}

[hidden] { display: none; }

.counter {
  display: inline-flex;
  margin: auto;
  @apply(--counter-styles);
}
